@charset "UTF-8";

/* =========================================================================================================================== */
/* =========================================================================================================================== */
/* ========================================  GENERAL STRUCTURE STYLES  ======================================================= */
/* =========================================================================================================================== */
/* =========================================================================================================================== */

/*@font-face - automatic generated fonts code by folder content. */
@import url("../fonts/fonts.css");

* {
	box-sizing: border-box;
	font-family: OpenSans, OpenSansCondensedLight;
}

body {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	position: relative;
	color: #fff;
	padding: 10px 0px 0px 0px;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #aaa;
}

header .title {
	overflow: hidden;
	margin: 0;
	padding: 0;
}
header .title h1{
	
}
header .title h1 a{
	text-shadow:0px 2px 3px #555;
	color:#fff;
}
header .title h1 a:hover{
	text-shadow:0px 2px 3px #000;	
}

header .user {
	
}

header .menu {
	
}

header .menu a {
	
}

header .menu a:hover {
	box-shadow: 0 1px 1px #000;
}

section {
	width: 100%;
	min-height: 750px;
	background: #fff; /*#ecf0f1;*/
	padding-top: 0px;
	padding-bottom: 150px;
	position: relative;
}
.container{
	
}
.container_large {
	padding: 0 40px;
}

footer {
	width: 100%;
	height: 100px;
	text-align: center;
	padding-top: 20px;
	font-size: 14px;
	color: #fff;
	position: relative;
	border-top: solid 1px #777;
	border-bottom: solid 1px #000;
}


/* =========================================================================================================================== */
/* =========================================================================================================================== */
/* ==============================================  GENERAL TAG STYLES  ======================================================= */
/* =========================================================================================================================== */
/* =========================================================================================================================== */
h1, h2, h3, h4, h5, h6 {
	
}

a.clean {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

label {
	cursor: pointer;
}

/* =========================================================================================================================== */
/* =========================================================================================================================== */
/* ====================================================== MODULES STYLES ===================================================== */
/* =========================================================================================================================== */
/* =========================================================================================================================== */
header.site {
	background: #2ecc71 !important;
}

header.admin {
	background: #ea0 !important;
}

header.dev {
	background: #a00 !important;
}
/* ====================================================== */
footer.site {
	background: #27ae60 !important;
}

footer.admin {
	background: #c80 !important;
}

footer.dev {
	background: #600 !important;
}

/* =========================================================================================================================== */
/* =========================================================================================================================== */
/* =========================================================================================================================== */
/* =========================================================================================================================== */
/* =========================================================================================================================== */